.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  margin-top: 10px;
}
.refresh-button {
  margin-top: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  display: flex;
}

.run-tooltip {
  margin-top: 15px;
  font-size: 20px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.493);
  opacity: 0;
}

.refresh-button img {
  width: 30px;
  height: 30px;
}

.refresh-button:hover {
  transform: rotate(360deg);
}

.button-container:hover span {
  opacity: 1;
}
